.swiper-container {
  height: 220px;
}
li {
  list-style: none;
}
.swiper-wrapper {
  padding-inline-start: 0;
}
.swipper-pagination {
  bottom: 0;
  padding-bottom: 0px;
}
.swiper-button-prev,
.swiper-button-next {
  color: #000000;
  display: none;
}
.swiper_img {
  width: 450px;
}
